*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', 'sans-serif';
  box-sizing: border-box;
}
body {
  background: rgb(233, 207, 207);
}
.container{
  justify-items: center;
  margin-top: 50px;
}
.calculator{
  width: 600px;
  padding: 0px 0px 30px 0px;
  background-color: white;
  justify-items: center;
}
.data
{
  background-color: bisque;
  padding: 15px;
  margin-bottom: 10px;
  width: 250px;
}
.heading{
    color: red;
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    
}
#courses{
  padding: 20px;
  font-size: 20px;
}
#result{
  font-size: 30px;
  color: red;
}
input{
    padding: 8px;
    margin: 5px;
}
.course-inputs {
    margin-bottom: 10px;
  }

button{
  padding: 10px 12px 10px 12px;
  background-color: rgb(12, 12, 12);
  color: white;
  font-size: 20px;
  margin: 5px;
  border: none;
}
